@using Webnovel.Repository

@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@inject ICategory _category

@{
    var categories = await _category.List();
}
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-area="Admin" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Setting</a>
                                </li>
                                @*<li class="breadcrumb-item active">Dashboard</li>*@
                            </ol>
                        </div>
                    <h4 class="page-title">Settings</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row--><!-- end page title end breadcrumb -->
        <div class="row">

            <div class="col-4">
                <div class="card crm-data-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 align-self-center">
                                <div class="data-icon">
                                    <i class="far fa-object-group rounded-circle bg-soft-warning"></i>
                                </div>
                            </div><!-- end col-->
                                 
                            <div class="col-sm-8">
                                <h3> Categories </h3>
                                <p class="text-muted font-14 mb-0">  @categories.Count() Categories </p>
                            </div>
                                  
                            <!-- end col-->
                        </div><!-- end row-->
                        <a asp-area="Admin" asp-controller="Feature" class="btn btn-info btn-block btn-sm mt-4"  asp-action="AddCategory"> View</a>

                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
            
            <div class="col-4">
                <div class="card crm-data-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 align-self-center">
                                <div class="data-icon">
                                    <i class="mdi mdi-account-clock rounded-circle bg-soft-dark"></i>
                                </div>
                            </div><!-- end col-->
                                 
                            <div class="col-sm-8">
                                <h3> Subscriptions </h3>
                                <p class="text-muted font-14 mb-0"> View subscription available for user to subscribe to</p>
                            </div>
                                  
                            <!-- end col-->
                        </div><!-- end row-->
                        <a asp-area="Admin" asp-controller="Feature" class="btn btn-info btn-block btn-sm mt-4"  asp-action="Subscriptions"> View</a>

                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
                
            <div class="col-4">
                <div class="card crm-data-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 align-self-center">
                                <div class="data-icon">
                                    <i class="mdi mdi-book-open-page-variant rounded-circle bg-soft-dark"></i>
                                </div>
                            </div><!-- end col-->
                                 
                            <div class="col-sm-8">
                                <h3> Pages </h3>
                                <p class="text-muted font-14 mb-0"> Manage Pages of this website</p>
                            </div>
                                  
                            <!-- end col-->
                        </div><!-- end row-->
                        <a asp-area="Admin" asp-controller="Page" class="btn btn-info btn-block btn-sm mt-4"  asp-action="Index"> Manage</a>

                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
    

        </div><!--end row-->
    
    </div><!-- container -->

</div>

