@using Webnovel.Repository
@model Webnovel.Models.CategoryVm
@inject ICategory Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
            <h4 class="card-title">Add Categories</h4>
  
            <form class="form-horizontal m-t-30" method="post" asp-action="AddCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a=>a.Id)
                <div class="form-group">
                    <label>Name <span class="help"> e.g. "Comedy"</span></label>
                    <input asp-for="Name"  type="text" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Description <span class="help"> </span></label>
                    <textarea asp-for="Description"  type="text" class="form-control" > </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card card-body">
            <h4 class="card-title">Categories</h4>
            @await Component.InvokeAsync("Category")

        </div>
    </div>
</div>



