@model System.Collections.Generic.ICollection<Webnovel.Entities.ComicScene>


<div class="p-15">
    @if (Model.Count() == 0)
    {
        <h4 class="text-primary card-title"> No Scene Yet </h4>
        <button class="btn btn-outline-orange" onclick="showAddScene()" >Add Scene</button>
    }
    @foreach (var i in Model)
    {
        <h4 class="text-primary card-title m-2">@i.Title</h4>
        <ul class="list-group">
           
            @if (i.Episodes.Any())
            {
                foreach (var a in i.Episodes)
                {
                    <li class="list-group-item"> <a class="text-cyan" onclick="showEpisode(@a.Id)"> @a.Name </a>   </li>
                }

            }
            else
            {
                <li>   <h6 class="text-primary card-title"> No Episode Yet </h6> <a onclick="showAddEpisode()" class="link" > Add </a></li>
              
            }
            @*<li class="list-group-item"> <a href="#">Chapter 1</a> </li>
            <li class="list-group-item">Chapter 2</li>
            <li class="list-group-item">Chapter 2</li>
            <li class="list-group-item">Chapter 2</li>
            <li class="list-group-item">Chapter 2</li>*@
        </ul>
    }
    @*<h4 class="text-primary card-title">Section 1</h4>
    <ul class="list-group">
        <li class="list-group-item"> <a href="#">Chapter 1</a> </li>
        <li class="list-group-item">Chapter 2</li>
        <li class="list-group-item">Chapter 2</li>
        <li class="list-group-item">Chapter 2</li>
        <li class="list-group-item">Chapter 2</li>
    </ul>*@
</div>