@model object

@{
    ViewBag.Title = "Payment Confirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
<div class="card">
    <div class="card-body">
       @Html.Raw(ViewBag.Message)
    </div>
</div>
