@model object

@{
    ViewBag.Title = "My Referrals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct" style="padding-top: 100px">
                    <h1>My Referrals</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog-detail-ct">
                   
                    <div class="cmt-item flex-it">
                        <div class="author-infor">
                            <h1>My Referral Link</h1>

                            <div class="flex-it2 text-center">

                                <h6><a href="#">Opp no link</a></h6>  <br />
                                <button class="btn btn-primary"> Generate New Link </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="page-single cmt-item" style="padding-top: 5px">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-12 col-sm-12 col-xs-12" style="top:-80px">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="title">My Referral Link</h4>
                            <p>Opp No Link Generate</p>
                            <button class="btn btn-primary">Generate a new Link</button>                        </div>
                       
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
