
@{
    ViewData["Title"] = "UnderConstructionPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Page is under Construction, will soon be available shortly, Thank you</h1>
            </div>
        </div>
    </div>
</div>

