
@{
    ViewData["Title"] = "Welcome to Alkebulania";
 
}

<!DOCTYPE html>

<html>



<head>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Startup Landing Page">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/landing/img/favicon.ico" type="image/x-icon">
    <link href="~/landing/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/landing/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/landing/css/magnific-popup.css" rel="stylesheet">
    <link href="~/landing/css/main.css" rel="stylesheet">
</head>
<body>

    <!--hero section-->
@RenderBody()

    <!--hero section end-->
    <!--Featured on-->

    @*<section class="featured-on section-spacing text-center">
        <div class="container">
            <header class="section-header">
                <h2>We Are Featured On</h2>
            </header>
            <div class="row">
                <div class="col-md-12">
                    <ul class="featured-sites">
                        <li><a href="#" title="Site Name"><img src="img/site-1.png" alt="site"></a> </li>
                        <li><a href="#" title="Site Name"><img src="img/site-2.png" alt="site"></a></li>
                        <li><a href="#" title="Site Name"><img src="img/site-3.png" alt="site"></a></li>
                        <li><a href="#" title="Site Name"><img src="img/site-4.png" alt="site"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>*@

    <!--Featured on end-->
    <!--benefits-->

  
    <!--contact form modal end-->

    <script src="~/landing/js/jquery-2.1.4.min.js"></script>
    <script src="~/landing/js/bootstrap.min.js"></script>
    <script src="~/landing/js/waypoints.min.js"></script>
    <script src="~/landing/js/jquery.animateNumber.min.js"></script>
    <script src="~/landing/js/waypoints-sticky.min.js"></script>
    <script src="~/landing/js/retina.min.js"></script>
    <script src="~/landing/js/jquery.magnific-popup.min.js"></script>
    <script src="~/landing/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/landing/js/tweetie.min.js"></script>
    @*<script src="~/landing/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSUq0I2FCVkhgjNR6fTRbqm19ULreKA4k&amp;callback=initMap"></script>
    <script src="~/landing/js/gmap.js"></script>*@
</body>

<!-- Mirrored from csmthemes.com/themes/launch/image/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Aug 2019 23:07:21 GMT -->
</html>



