@model Webnovel.Entities.Page

@{
    ViewBag.Title = "Edit page - "+ Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.HiddenFor(a=>a.Id)
                    <div class="form-group">
                        <label class="control-label"> Title</label>
                        <input asp-for="Name" class="form-control" placeholder="Page Title" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Content </label>
                        <textarea asp-for="Content" id="editor"  class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="mdi mdi-content-save"></i> Save Changes</button>
                }
            </div>
        </div>
    </div>
</div>

@section css
{

}

@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <!-- Initialize cK editor -->
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
}
