   .site-header.light .site-header__logo .vodi-gr {
       fill: url(#vodi-gr-hh)
   }

   @media (min-width:1200px) {
       .site-header.light .site-header__logo .vodi-gr {
           fill: url(#vodi-gr)
       }
   }

   .site__footer--v1.light .vodi-gr {
       fill: url(#vodi-gr)
   }